@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ainbox_Sarabun';
    src: url('/fonts/Sarabun/Sarabun-Regular.ttf') format('truetype');
  }

@layer base {
    body {
      font-family: "ainbox_Sarabun" !important;
    }
  }

.topic{
    font-family: "ainbox_Sarabun";
    font-weight: 600;
    color: #555555;
    text-align: center;
}
.textDetail{
    font-family: "ainbox_Sarabun";
    font-weight: 500;
    font-size: 18px;
    color: #555555;
    text-align: center;
}
.text-gradient {
    font-family: "ainbox_Sarabun";
    background: linear-gradient(to bottom, #FB8854, #F9373C);
    -webkit-background-clip: text;
    color: transparent;
}
